## Allow: To read lines rather than words, pipe/redirect to a 'while read' loop
disable=SC2013

## Allow: Unsued variables
disable=SC2034

## Allow: Double quote array expansions to avoid re-splitting elements
disable=SC2068

## Allow: Declare and assign separately to avoid masking return values
disable=SC2155

## Allow: Prefer mapfile or read -a to split command output (or quote to avoid splitting)
disable=SC2207

## Allow: Instead of 'let expr', prefer (( expr ))
disable=SC2219
