# ============================================================================ #
# Disable specific checks
# ---------------------------------------------------------------------------- #
# shellcheck disable=SC2034

## Allow: To read lines rather than words, pipe/redirect to a 'while read' loop
disable=SC2013

## Allow: Declare and assign separately to avoid masking return values
disable=SC2155

## Allow: Prefer mapfile or read -a to split command output (or quote to avoid splitting)
disable=SC2207

## Allow: Instead of 'let expr', prefer (( expr ))
disable=SC2219

#Allow: non-standard `which` in shellcheck < 0.7.1
disable=SC2230
# ============================================================================ #

# ============================================================================ #
# Enable optional checks (since 0.7.0).
# ---------------------------------------------------------------------------- #
## Suggest adding a default case in `case` statements
#enable=add-default-case

## Suggest explicitly using -n in `[ $var ]`
#enable=avoid-nullary-conditions

## Suggest quoting variables without metacharacters
#enable=quote-safe-variables

## Suggest putting braces around all variable references
#enable=require-variable-braces
# ============================================================================ #
